/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 20vh;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    /*background-color: #fefefe;*/
    background-color: #2a3990;
    color: #ffff;
    margin: auto;
    position: relative;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    border: 1px solid #888;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

button
{
    color: #2a3990;
    background-color: #ffff;
    margin-left: 15px;
}

.bt_filtre{
    background-color: #2a3990;
    color: #ffff;
    margin-left: 10px;
    margin-right: 10px;
}

/* The Close Button */
.close {
    color: #ffff;
    float: right;
    font-size: 42px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}